.checkbox input[type="checkbox"]
	float: none
	margin: 8px 10px
.checkbox input
	display: grid
.checkbox
	display: block
	min-height: 0px
	padding-left: 0px
	margin-top: 10px
	margin-bottom: 10px
	vertical-align: middle
	text-transform: capitalize
.form-control
	border: 1px solid #bdc3c7
	border-radius: 0px
	font-family: $serif
	:focus
		border-color: $marine
.form-group
	position: relative
	margin-bottom: 0px
.Form
	&--conteudo
		padding-top: 0px
		margin: 0 0
.Button
	margin-top: 25px
	margin-bottom: 25px
	color: #fff
	+setBgColorAndHover($marine)

@media (min-width: 480px)
	.Form
		&--conteudo
			padding-top: 0
			margin: 0 0
@media (min-width: 768px)
	.Form
		&--conteudo
			padding-top: 0
			margin: 0 0
@media (min-width: 992px)
	.Form
		&--conteudo
			padding-top: 32px
			margin: 0 0
