
	<div class="row">

		<div class="Box__laranja">
			<div class="col-xs-8">
				<h2 class="Box__titulo-variacao">Eixos para <br> <span class="Box__titulo-laranja">a balneário <br> que queremos.</span></h2>
			</div>
			<div class="col-xs-4">
			</div>
		</div>

	</div>

	<div class="row Eixo__container">
		<div class="Eixo__marine">
		<h2 class="Eixo__titulo">A QUEDA DO MURO</h2>
			<h3 class="Eixo__sub">Uma Cidade sem Diferenças e Divisões:</h3>
			<p class="Eixo__texto">A cidade que vamos construir juntos será unificada 
				em tratamento e em benefícios 
				de forma igualitária, com investimentos, obras e 
				políticas públicas que atendam todos os bairros. 
				A divisão entre centro, beira mar e bairros que 
				atualmente existe, vai acabar, iremos implementar 
				uma gestão para uma cidade única. 
				Todos somos Balneário Camboriú.
			</p>
		</div>
		<div class="Eixo__azul">
			<h2 class="Eixo__titulo">GOVERNO DECENTE </h2>
			<h3 class="Eixo__sub">Gestão Moderna, Eficaz, Transparente e junto das Pessoas.</h3>
			<p class="Eixo__texto">
				A cidade será administrada de forma plural, governo 
				e sociedade. Uma gestão pública moderna e eficaz, 
				amparada pela tecnologia e focada na funcionalidade, planejando uma Balneário para os próximos 20 anos. Um governo transparente que irá garantir 
				o acesso público à informação, focado na 
				profissionalização, capacitação e valorização do quadro de servidores município.
			</p>
		</div>
		<div class="Eixo__marine">
			<h2 class="Eixo__titulo">TODOS SOMOS BALNEÁRIO</h2>
			<h3 class="Eixo__sub">Cuidar da Cidade é Cuidar das Pessoas:</h3>
			<p class="Eixo__texto">Além de investimentos habituais em obras 
				e em políticas públicas que fortalecem a infraestrutura
				e a prestação de serviços à população, faremos algo 
				a mais: o compromisso em cuidar e atender bem às 
				pessoas. As áreas de educação, saúde, acessibilidade 
				e segurança demandam atenção especial, com
				ferramentas de tecnologia e modernização da gestão. 
				A cidade não pode mais perder recursos 
				estaduais e federais nestas áreas.
			</p>

		</div>

		<div class="Eixo__azul">
			<h2 class="Eixo__titulo">BALNEÁRIO DE ÁGUAS LIMPAS</h2>
			<h3 class="Eixo__sub">Cidade Desenvolvida e Sustentável:</h3>
			<p class="Eixo__texto">
				O desenvolvimento econômico tem que ser aliado 
				de um modelo de cidade sustentável, onde o poder 
				público e a iniciativa privada caminhem juntos,
				com responsabilidade ambiental, com o bem-estar 
				das famílias e com o futuro saudável das gerações. Nossa cidade necessita de saneamento básico de padrão internacional, água e praias limpas, temos um pulmão verde em nossa Interpraias que pode ser explorado de forma consciente, eventos corporativos e turismo de inverno. Temos de atrair riqueza o ano todo com uma cidade de referências positivas. 
			</p>
			<p class="Eixo__destaque">
				Vamos construir a Balneário que queremos para os próximos 20 anos.
			</p>
			
		</div>
	</div>
